<div class='password-checker-result' {{did-update this.validatePassword @password}}>
  <h3>Password should be</h3>

  {{#if this.password_validation_list}}
      <ul class='password-validations'>
        {{#each this.password_validation_list key="regex" as |r|}}
          <li class={{if r.valid 'list-item' 'list-item password-invalid'}}>{{r.text}}</li>
        {{/each}}
      </ul>
  {{/if}}

</div>