
.tr-form label {
  font-size: 1rem;
  line-height: 1.5rem;
  color: var(--text-primary-color);
}

.tr-form input,
.tr-form select  {
  font-size: 1rem;
  line-height: 3rem;
  border: 1px solid var(--white-200);
  border-radius: 4px;
}

.tr-form.form-fit input,
.tr-form.form-fit select {
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 0px 10px;
  margin: 0px 0px 10px;
}

.tr-form select {
  height: 3rem;
}

.form-field.error input,
.form-field.error select {
  border-color: var(--tertiary-color);
}

.tr-form .password-with-help {
  position: relative;
  &.error {
    &:hover .password-checker-result {
      display: block;
    }
    input {
      padding-right: 35px;
    }
    .material-symbols-outlined {
      display: block;
      color: var(--tertiary-color);
    }
  }
}

.tr-form .form-action {
  padding: 10px 0px;
}

.btn {
  border: none;
  font-size: 1rem;
  line-height: 2.2rem;
  min-width: 100px;
  padding: 0px 10px;
  margin: 0px 0px 0px 10px;
  border-radius: 4px;
}

.btn.btn-icon,
.btn.btn-flat {
  border: none;
  border-radius: 0;
  background: none;
  font-size: 1rem;
  min-width: auto;
  line-height: 1;
  margin: 0;
  padding: 0;
}

.btn.btn-primary {
  background-color: var(--secondary-color);
  color: var(--white-50);
  &:hover {
    background-color: var(--secondary-color-dark);
  }
}

.btn.btn-action {
  background-color: var(--white-200);
  &:hover {
    background-color: var(--white-300);
  }
}

.btn:disabled {
  background: var(--white-200);
  &:hover {
    background: var(--white-200);
  }
}

.password-checker-result {
  display: none;
  min-width: 200px;
  height: auto;
  position: absolute;
  right: -230px;
  top: 10px;
  z-index: 1;
  border: 1px solid var(--white-200);
  border-radius: 4px;
  padding: 10px;
  background: var(--white-50);
}

.password-checker-result h3 {
  font: 1.2rem bold Arial, Helvetica, sans-serif;
  margin-bottom: 10px;
}

.password-checker-result ul {
  list-style: disc;
  padding-left: 12px;
}

.password-checker-result .list-item {
  font-size: 1rem;
  line-height: 1.4rem;
}

.form-error-message,
.password-checker-result .list-item.password-invalid {
  color: var(--tertiary-color);
}
