{{page-title 'Home'}}

<article>

  {{#if this.auth.currentUser}}
    <ul>
      <li>Created By You</li>
    </ul>
  {{else}}
    <ul>
      <li>Recent Posts</li>
    </ul>
  {{/if}}

  <Post::ListContainer  />
</article>
<aside>
  <Topics />
</aside>