{{page-title 'TechReader'}}
<header>
  <a href='#' title='Tech Reader, blogs for tech'>Tech Reader</a>
  <nav>
    <ul>
      <li>Profile</li>
      <li>Login/Register</li>
    </ul>
  </nav>
</header>
<section>
  {{! list of topics available }}
</section>
<main>
  <section>
    {{!-- Main posts / user posts --}}
  </section>
  <aside>
    {{!-- Reading list --}}
    {{!-- people following & followers --}}
  </aside>
</main>
<footer>
  {{!-- copyright --}}
</footer>

{{outlet}}