{{page-title 'Home'}}
<main>
  <div class='content-wrapper'>
    <section>
      posts
      {{! Main posts / user posts }}
    </section>
    <aside>
      home
      {{! Reading list }}
      {{! people following & followers }}
    </aside>
  </div>
</main>
{{outlet}}